@page
@model Constantin_Mihai_proiect.Pages.Movies.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Director" class="control-label"></label>
                <input asp-for="Movie.Director" class="form-control" />
                <span asp-validation-for="Movie.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.IMDBRatings" class="control-label"></label>
                <input asp-for="Movie.IMDBRatings" class="form-control" />
                <span asp-validation-for="Movie.IMDBRatings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.ReleaseDate" class="control-label"></label>
                <input asp-for="Movie.ReleaseDate" class="form-control" />
                <span asp-validation-for="Movie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.ProductionCoID" class="control-label">Company</label>
                <select asp-for="Movie.ProductionCoID" class="form-control" asp-items="ViewBag.ProductionCoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Movie.DeveloperID" class="control-label">Developer</label>
                <select asp-for="Movie.DeveloperID" class="form-control" asp-items="ViewBag.DeveloperID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Movie.MovieGenres" class="control-label"></label>
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var gen in Model.AssignedGenreDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedGenres"
                                               value="@gen.GenreID"
                                               @(Html.Raw(gen.Assigned ? "checked=\"checked\"" : "")) />
                                        @gen.GenreID @: @gen.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <span asp-validation-for="Movie.ProductionCoID" class="text-danger"></span>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
